/* 输入框默认颜色 */
input::-webkit-input-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
}
input::-webkit-input-placeholder {
  line-height: normal;
}
/*清除浮动*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.textC {
  text-align: center !important;
}
.textR {
  text-align: right !important;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}
.f26 {
  font-size: 26px;
}
.fbold {
  font-weight: bold;
}
/* 水平垂直居中 */
.a_ct {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.notallow {
  cursor: not-allowed !important;
}
.pl {
  float: left !important;
}
.pr {
  float: right !important;
}
.pi {
  float: inherit !important;
}
.dn {
  display: none !important;
}
.unselet {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
.throughText {
  text-decoration: line-through;
}
.dom_r {
  position: relative;
}
.ofauto {
  overflow: auto;
}
.hauto {
  height: auto !important;
}
/* 常用间距值 */
/* 常用间距值 */
/* 常用间距值 */
.nomargin {
  margin: 0;
}
.mt2 {
  margin-top: 2px;
}
.mt3 {
  margin-top: 3px;
}
.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px;
}
.mt6 {
  margin-top: 6px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt14 {
  margin-top: 14px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.ml6 {
  margin-left: 6px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.mr4 {
  margin-right: 4px;
}
.mr5 {
  margin-right: 5px;
}
.mr6 {
  margin-right: 6px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}
.pb0 {
  padding-bottom: 0;
}
.pt0 {
  padding-top: 0;
}
.pl14 {
  padding-left: 14px;
}
.pr14 {
  padding-right: 14px;
}
.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}
.l20 {
  line-height: 20px;
}
.l22 {
  line-height: 22px;
}
.l24 {
  line-height: 24px;
}
.l25 {
  line-height: 25px;
}
.l30 {
  line-height: 30px;
}
/* 常用颜色 */
.c9 {
  color: #999999;
}
.c6 {
  color: #666666;
}
.c7 {
  color: #777777 !important;
}
.mainC {
  color: #13C2C2;
}
.clickText,
.clickText_ {
  color: #397FD4;
  font-size: 12px;
  cursor: pointer;
}
.clickText_:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #DBDBDB;
  margin-left: 5px;
}
.divider:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #DBDBDB;
  margin-bottom: -3px;
  margin-right: 8px;
}
.w600 {
  width: 600px !important;
}
.w160 {
  width: 160px !important;
}
.w200 {
  width: 200px !important;
}
.dl {
  display: inline-block;
}
.moneyC {
  color: #f0081f;
}
/* flex布局 */
.c_f_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.c_f_between_nocenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c_f_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.c_f_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.c_f_row_ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.c_f_column {
  display: flex;
  flex-direction: column;
}
.c_f_column_c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c_f_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c_f_shrink {
  flex-shrink: 0;
}
/* 箭头 */
.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.zindexh {
  z-index: 19931221 !important;
}
/* add */
.add {
  width: 20px;
  height: 20px;
  color: #13C2C2;
  transition: color 0.25s;
  position: relative;
}
.add::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  margin-left: -10px;
  margin-top: -1px;
  border-top: 2px solid;
  border-radius: 4px;
}
.add::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  margin-left: -1px;
  margin-top: -10px;
  border-left: 2px solid;
  border-radius: 4px;
}
/* close */
.close {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.close::before,
.close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: 0.01rem;
  background: #2E2E2E;
}
.close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.common_btn {
  border: 1px solid #13C2C2;
  border-radius: 4px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #595959;
}
.required:after {
  color: #ee0a24;
  font-size: 14px;
  content: '*';
  margin-left: 4px;
  display: inline-block;
  width: 1px;
  height: 12px;
  vertical-align: middle;
}
.popupTitle {
  background-color: #fff;
  width: 100%;
  height: 50px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
}
.popupTitle span {
  font-weight: bold;
}
ul.popup {
  max-height: 200px;
  min-height: 120px;
  overflow: auto;
}
ul.popup li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  height: 40px;
  border-bottom: 1px solid #F5F5F5;
}
ul.popup li.active span {
  color: #13c2c2;
}
ul.popup li.active var {
  background: url("../img/app/selected.png") no-repeat;
  background-size: contain;
}
ul.popup li span {
  font-size: 15px;
  color: #292929;
}
ul.popup li var {
  width: 24px;
  height: 18px;
  background: none;
}
.van-cell::after {
  right: 0;
  left: 0;
}
.toastDialog {
  border-radius: 10px;
}
.toastDialog .van-dialog__header {
  padding-top: 20px;
  line-height: 24px;
  text-align: left;
  padding-left: 24px;
  font-weight: bold;
}
.van-empty__image {
  height: auto !important;
}
.van-search__content {
  background-color: #fff;
  border: 1px solid #e7e6e6;
  border-radius: 4px;
}
.van-pull-refresh {
  background-color: #fff;
  min-height: 450px;
}
.van-field__word-num {
  color: #13c2c2;
}
.van-uploader {
  display: block;
  width: 100%;
  height: 100%;
}
.van-uploader .van-uploader__wrapper {
  width: 100%;
  height: 100%;
}
.van-uploader .van-uploader__wrapper .van-uploader__upload {
  margin: 0;
  width: 100%;
  height: 100%;
}
.van-radio__icon img {
  width: 16px;
}
.custom_required .van-field__label {
  font-size: 15px;
}
.custom_required .van-field__label > span:after {
  color: #ee0a24;
  font-size: 14px;
  content: '*';
  margin-left: 4px;
  display: inline-block;
  width: 1px;
  height: 20px;
  vertical-align: middle;
}
.custum_van-cell-group {
  height: 44px;
  overflow: hidden;
  padding: 10PX 14PX;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #646566;
}
.custum_van-cell-group.border_b {
  border-bottom: 1px solid #F8F8F8;
}
.uploadWrap {
  width: 68px;
  height: 68px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
}
.imageDel {
  width: 20px;
  height: 20px;
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imageDel .close {
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-right: -3px;
}
.imageDel .close:after,
.imageDel .close:before {
  background-color: #fff;
}
.obvious {
  font-size: 15px;
  color: #262626;
  font-weight: bold;
}
.obvious .van-field__control {
  font-size: 15px;
  color: #262626;
  font-weight: bold;
}
.c595959 {
  color: #595959;
}
.c1F1F1F {
  color: #1F1F1F;
}
.c13C2C2 {
  color: #13C2C2;
}
.bgcfff {
  background-color: #fff;
}
.division {
  width: 100%;
  height: 0;
  border-top: 1px dashed #f0f0f0;
}
.division.solid {
  border-top: 1px solid #f0f0f0;
}
.textEllipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.edit .needDisable {
  background-color: #F0F0F0 !important;
  border-bottom: none;
}
.edit .needDisable .required:after {
  display: none;
}
.edit .needDisable.custom_required .van-field__label {
  font-size: 15px;
}
.edit .needDisable.custom_required .van-field__label > span:after {
  display: none;
}
.edit .needNone {
  display: none;
}
.activityTabs.needDisable {
  background-color: #F0F0F0 !important;
}
.bt10 {
  border-top: 10px solid #f8f8f8;
}
.operateFixed {
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 50px;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 1993;
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
}
.operateFixed .c_f_center {
  width: 100%;
}
.operateFixed .c_f_center > span:nth-of-type(2) {
  border-left: 1px solid #262626;
  padding-left: 5px;
  margin-left: 5px;
}
.titleItem {
  font-size: 15px;
  font-weight: bold;
  padding: 16px 14px 8px;
  line-height: 22px;
}
.myTip:after {
  content: "?";
  width: 16px;
  height: 16px;
  background-color: #13c2c2;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin-left: 4px;
  font-weight: normal;
  line-height: 16px;
}
.inputErr {
  color: #D45656;
  font-size: 12px;
  padding: 5PX 14PX;
  display: block;
  line-height: 20px;
}
